<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                  <add name="Access-Control-Allow-Origin" value="*" />
                  <add name="X-Frame-Options" value="SAMEORIGIN" />
                  <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
                  <add name="X-XSS-Protection" value="1; mode=block" />
                  <add name="X-Content-Type-Options" value="nosniff" />
                  <add name="Content-Security-Policy" value="default-src *; script-src 'self' https://connect.facebook.net/en_US/fbevents.js https://www.googletagmanager.com/gtm.js https://www.google.com/recaptcha/ https://www.gstatic.com/recaptcha/; style-src 'report-sample' 'self' https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css; object-src 'none'; base-uri 'self'; connect-src 'self' https://analytics.google.com https://cdn.datatables.net; font-src *; frame-src 'self' https://www.google.com/recaptcha/ https://recaptcha.google.com/recaptcha/; img-src *; manifest-src *; media-src *;" />
                  <add name="Cache-Control" value="public, max-age=86400" />
                  <add name="Referrer-Policy" value="no-referrer" />
                  <add name="Permissions-Policy" value="accelerometer=(),autoplay=(),fullscreen=*,geolocation=*,gyroscope=()"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
