@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');

.updown {
  /*animation: UpDown 2s ease-in-out infinite;*/
  animation: UpDown 2s ease-in-out infinite alternate-reverse both;
  /* position: absolute; */
  left: 0;
  bottom: 0;
  font-size: 4em;
  cursor: pointer;
  color: #ffffff00;
}
.up-45{
  line-height: 45px !important;
}

@keyframes UpDown {
  0% {
    bottom: 0;
  }
  50% {
    bottom: .5em;
  }
  100% {
    bottom: 0;
  }
}

image{
  image-rendering: auto;
}

/*@font-face {*/
/*  font-family: 'Cerebri Sans';*/
/*  src: url("../../fonts/cerebri-sans.rtf") format("rtf");*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

:root {
  --color-primary: #4762ff;
  --color-secondary: #ff6363;
  --color-tertiary: #ac1de1;
  --color-gradient-start: #4762ff;
  --color-gradient-stop: #ff798e;
  --color-gradient-start-secondary: #0bccee;
  --color-gradient-stop-secondary: #ac1de1;
  --color-gradient-start-tertiary: #ffba83;
  --color-gradient-stop-tertiary: #ffa5cd;
}

header{
  font-size: 16px;
  line-height: 1.4em;
  color: #828282;
  font-family: 'Dosis', sans-serif;
}
.font_dosis{
  font-family: 'Dosis', sans-serif;
}
body {
  font-size: 16px;
  line-height: 1.4em;
  color: #828282;
  font-family: 'Bariol Regular' ;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6 .h6 {
  color: #394360;
}

.h1,
h1 {
  font-size: 50px;
  line-height: 1.4em;
}

.h2,
h2 {
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0;
}

.h3,
h3 {
  font-size: 32px;
  line-height: 1.5em;
}

.h4,
h4 {
  font-size: 26px;
  line-height: 1.6em;
}

.h5,
h5 {
  font-size: 20px;
  line-height: 1.6em;
}

.h6,
h6 {
  font-size: 18px;
  line-height: 1.8;
}

.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-family-amiri {
  font-family: 'Amiri', sans-serif;
}

.main-header .social-icon {
  font-size: 17px;
}

.main-header .social-icon:not([class*=scheme-]) a,
.main-nav > li > a {
  color: rgba(255, 255, 255, 1);
}

.main-header .social-icon:not([class*=scheme-]) a:hover,
.main-nav > li > a:hover {
  color: #fff;
}

.main-nav > li > a {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: #fff;
}

.nav-light .main-nav > li > a {
  color: rgba(255, 255, 255, 0.75);
}

.nav-light .main-nav > li > a .link-ext {
  background-color: #fff;
}

.nav-dark .main-nav > li > a {
  color: rgba(0, 0, 0, 0.75);
}

.nav-dark .main-nav > li.is-active > a,
.nav-dark .main-nav > li.current-menu-item > a,
.nav-dark .main-nav > li:hover > a,
.nav-dark .main-nav > li > a:hover {
  color: #000;
}

.main-footer {
  color: #98a2aa;
}

.main-footer a:not(.btn) {
  color: #98a2aa;
}

.main-footer a:not(.btn):hover {
  color: #fff;
}

.carousel-nav-center .carousel-nav {
  display: none;
}

#caracteristicas .flickity-page-dots, #transacciones .flickity-page-dots {

  bottom: -25px;
}

.liquid-blog-item-gray {
  min-height: 350px;
  background-color:transparent; 
  box-shadow: none; 
  -webkit-transition:none; 
  transition: none;
}

.liquid-blog-item-gray:hover {
  box-shadow: none;
}

.liquid-blog-grid .masonry-item + .masonry-item .liquid-blog-item-gray {
  border-left: none;
}

.accordion-lg .accordion-title a {
  padding-top: 0.55em;
  padding-bottom: 0.55em;
}

.accordion-active-has-fill .active .accordion-title a {
  background: rgb(69,142,191);
  background: linear-gradient(270deg, rgba(69,142,191,1) 11%, rgba(85,110,170,1) 65%);
  color: #fff;
}

.accordion-body-bordered .accordion-content {
  padding-bottom: 20px;
  background: #f8f8f8;
  color: #333;
  font-size: 17px;
}

.accordion-expander-left.accordion-active-has-fill .accordion-title a {
  color: white;
  background: rgb(69,142,191);
  background: linear-gradient(270deg, rgba(69,142,191,1) 11%, rgba(85,110,170,1) 65%);
}

.bg-charade {
  background: #0f3754 !important;
}

.carousel-items .liquid-lp {
  margin-top: 3px;
  background: white;
  padding-bottom: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-down {
  color: #ffffff;
  /*font-weight: bold;*/
}

.ld-post-author h5 {
  font-size: 13px;
  font-weight: 700 !important;
}

.ld-post-author time {
  font-size: 14px;
}

.btn-banner{
  height: 55px;
}

.txt-banner {
  font-size: 45px;
  line-height: 48px;
  letter-spacing: 2px;
}

.txt2-banner{
  font-size: 25px;
  line-height: 28px;
}

.salto{
  line-height: 20px;
}

.salto2{
  line-height: 24px;
}



@media (min-width: 1200px) {
  .main-header .is-stuck {
    background: #394360 !important;
  }
  .mainbar-wrap.is-stuck .social-icon a,
  .mainbar-wrap.is-stuck .header-module .ld-module-trigger,
  .mainbar-wrap.is-stuck .main-nav > li > a,
  .mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
    color: rgba(256, 256, 256, 1) !important;
  }
  .mainbar-wrap.is-stuck .social-icon a:hover,
  .mainbar-wrap.is-stuck .main-nav > li > a:hover {
    color: #fff !important;
  }
  .megamenu-heading {
    color: #3b91f7;
  }
  [data-megamenu-bg-scheme=light] .lqd-custom-menu a {
    color: #3e3f42;
  }
  .megamenu .lqd-custom-menu a:hover {
    color: #3b91f7;
  }
}

@media screen and (max-width: 1199px){
.main-header {
    position: fixed;
}


[data-mobile-nav-style=modern]:before {
    background: #394360;
}

.main-header .navbar-brand {
  padding: 0px 0;
}
}
@media (min-width: 1124px) and (max-width: 1700px){
  .promocion_banner{
    max-width: 85% !important;
    margin-left: 0px !important;
    margin-top: -100px;
  }
}
@media screen and (min-width: 1701px){
  .promocion_banner{
    transform: scaleX(1.5) scaleY(1.5);
    max-width: 100% !important;
    margin-left: -200px;
    margin-top: -100px;
  }
}
@media (max-width: 1123px) {
  .promocion_banner {
    transform: scaleX(1) scaleY(1) !important;
    opacity: 1;
    margin-top: -45px !important;
  }
}
@media (max-width: 768px) {
  .celular-banner{
    height: 250px;
  }

  .centrar-col{
    width: 70%;
    margin: 40px 15%;
  }

  .content h2 {
    font-size: 38px;
  }

  .content .h5 {
    font-size: 24px;
}

.liquid-lp-excerpt p {
  font-size: 20px;
}

  .fullheight {
    min-height: initial !important;
  }

  .txt-banner {
    font-size: 25px;
    line-height: 28px !important;
  }

  .txt2-banner{
    font-size: 16px !important;
    line-height: 18px  !important;
  }

  .no-mt{
    margin-top: 0 !important;
  }

  .titulo {
    font-size: 28px !important;
    line-height: 32px !important;
  }


  .btn + .btn {
    margin-left: 0 !important; 
  }
  
  #parallax-mobile.parallax-mobile{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }

  .liquid-blog-item-gray {
    min-height: 100px;
  }

  #comunidad.no-pt{
    padding-top: 0px !important ;
  }

  .width-100{
    width: 100%;
  }

  .justify-content-xs-center{
    justify-content: center;
  }


  .btn-down {
    font-size: 18px;
  }

  .btn-banner{
    height: 41px;
  }

  .salto, .salto2{
    line-height: initial;
  }

}

@media (max-width: 640px) {
  .celular-banner {
    height: 200px;
  }

  .centrar{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .centrar-col{
    width: 90%;
    margin: 40px 5%;
  }

}

@media (max-width: 560px) {
  .centrar-col{
    width: 100%;
    margin: 40px 0;
  }
}

@media (max-width: 480px) {
  .celular-banner {
    height: 150px;
}

  .txt-banner{
    font-size: 25px;
  }

  .txt2-banner{
    font-size: 16px !important;
    line-height: 18px !important;
  }

  .boton{
    margin-right: 0 !important;
  }

  .centrar{
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .btn-down{
    display: block;
    text-align: center;
  }

  .flickity-page-dots {
    bottom: 90px ;
  }

.ajustar{
  width: 60% !important;
    margin-left: 5% !important;
}

}

.holder {
  /*flex-direction: column;*/
  display: flex;
}
.text-align-list{
  text-align: center;
}
@media (max-width: 992px) {
  .text-align-list{
    text-align: center;
  }
  .holder {
    flex-direction: column-reverse;
  }
}


/*BOTON DESCARGA YA - INICIO*/
.btn-cta-wrapper{
  position: fixed;
}

.btn_cta_exp{
  height: auto!important;
  line-height: initial !important;
  padding: 20px 20px 20px 20px !important;
}

.btn_cta {
  display: inline-block;
  box-shadow: none;
  appearance: none;
  border: 0;
  outline: 0;
  background-color: #09bdde;
  height: 45px;
  line-height: 42px;
  padding: 0 30px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.2, 3, 0.4, 1);
  user-select: none;
  color: #ffffff;
  font-weight: bold;
}
.btn_cta:hover {
  transform: scale(1.1, 1.1);
}
.btn_cta:active {
  transform: scale(1.05, 1.05);
}

/*BOTON DESCARGA YA - FIN*/

/*BOTON DE RED SOCIAL MENU - INICIO*/
.img-red-social{
  width: 25px;
  height: 46px;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-top: -6px;
}
/*BOTON DE RED SOCIAL MENU - FIN*/


/**/
.bg-comercios{
  background-image: url('../../img/Comercios-soli-pagos-bcp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 992px) {
  .bg-comercios{
    background-position: 81%;
    background-image: linear-gradient(rgb(0 0 0 / 50%),rgb(0 0 0 / 50%)),url('../../img/Comercios-soli-pagos-bcp.jpg');
  }
}
/**/
.background_principal .font_promocion{
  font-size: 44px;
}
.font-top-principal1{
  margin-top: 70vh ;
}
.font-top-principal2{
  margin-top: 70vh ;
}
.background_principal{
  background-image: url(../../img/solisocios-bcp-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  z-index: 1;
}
.background_principal img{
  width: 25em;
}
.background_principal .btn_cta{
  margin-bottom: 20px !important;
  margin-top: 30px !important;
}

@media screen and (max-width: 720px) {
  .font-top-principal1{
    margin-top: 36vh;
  }
  .font-top-principal2{
    margin-top:28vh;
  }
}
@media screen and (max-width: 991px) {
  .font-top-principal1{
    margin-top: 37vh ;
  }
  .font-top-principal2{
    margin-top:30vh ;
  }
  .background_principal{
    background-image: url(../../img/solisocios-bcp-fondo.jpg);
    /*margin-top: 10%;*/
  }
  .background_principal .btn_cta{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    display: inline-block;
    box-shadow: none;
    appearance: none;
    border: 0;
    outline: 0;
    background-color: #09bdde;
    height: 30px;
    line-height: 30px;
    padding: 0px 16px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all .5s;
    transition-timing-function: cubic-bezier(.2,3,.4,1);
    user-select: none;
    color: #fff;
    font-weight: 700;
  }
  .background_principal .font_promocion{
    font-size: 19px;
  }
}


