.list-footer {
    margin: 0px !important;
    padding: 0px !important;
}
.footer-section {
    background: #742384;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #06aad1;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 3px;
    margin-right: 25px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #aba0a0;
    line-height: 28px;
}
.footer-social-icon{
    display: table-cell;

}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 15px;
    /*font-weight: 700;*/
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 3px;
}
.footer-social-icon i {
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}
.facebook-bg{
    background: #3B5998;
}
.instagram-bg{
    background: linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.youtube-bg{
    background: #ff1c00;
}
.indent-footer-red-social{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}
/*.footer-widget-heading h3::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: -15px;*/
/*    height: 2px;*/
/*    width: 50px;*/
/*    background: #06aad1;*/
/*}*/
.footer-widget ul li {
    display: inline-block;
    font-size: 14px;
    width: 100%;
    margin-bottom: 5px;
    color: #ffffff;
}
.footer-widget ul li a:hover{
    color: #10cbb4;
}
.footer-widget ul li a {
    color: #ffffff;
    /*text-transform: capitalize;*/
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #06aad1;
    padding: 13px 20px;
    border: 1px solid #06aad1;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.sub-footer{
    background: #5E186C;
}
.copyright-area{
    border-top:1px solid #8B3D99;
    background: #742384;
    padding: 5px 0;
    width: 100%;
}
.copyright{
    /*background: #3F0D4A;*/
    padding: 5px 0;
    width: 100%;
    /*border-top:1px solid #8B3D99*/
}
.scroll_top{
    background-color: #10cbb4;
    border-radius: 50%;
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.scroll_top img{
    width: 30px;
}
.copyright-text p {
    margin: 0;
    font-size: 9px;
    color: #878787;
    line-height: 15px;
}
.copyright-text p a{
    color: #10cbb4;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: #06aad1;
}
.footer-menu li a {
    font-size: 9px;
    color: #878787;
}
.footer-button{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
@media screen and (max-width: 1200px){
    .mod-mobile-social{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .mod-mobile-social span,#footer-logo{
        display:none;
    }
    .footer_cell_invert{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer_cell_invert div{
        display: flex;
        justify-content: space-evenly;
    }
    .mod-mobile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .mod-mobile div{
        text-align: center;
        margin-left: 0!important;
        margin-bottom: 20px;
    }
    .hide_phone .footer_cell_invert div{
        margin-left: 0;
    }
}
@media screen and (max-width:992px){
    .mobile-download{
        display:flex;
        flex-direction: column;
    }
    .mobile-download a{
        margin-bottom: 15px;
    }
    .footer_cell_invert .row{
        display:flex;
        flex-direction: column;
    }
    .btn-banner{
        width: 100% !important;
    }
    .mod-mobile div{
        max-width: 100% !important;
    }
    .mod-mobile div p{
        margin-top: 60px;
    }
    .footer_cell_invert{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hide_desktop #descarga_iphone_soliprincipal_banner-phone,#descarga_android_soliprincipal_banner-phone,#footer-logo-phone{
        display: none;
    }
    .footer-content{
        padding-top: 0px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    #footer-whatsapp-phone,#descarga_android-phone{
        margin-bottom: 10px !important;
    }
}
