body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    left: 0;
}

body > .over-menu {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /*position: fixed;*/
    /*height: 100%;*/
    /*content: '';*/
    /*width: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
body.open-menu {
    left: -250px;
}
body.open-menu > .over-menu {
    visibility: visible;
    opacity: 1;
}
body.open-menu .menu-container {
    right: 0 !important;
}
a {
    text-decoration: none !important;
    outline: none;
}
.hidden {
    display: none;
}
section {
    position: relative;
    width: 100%;
    /*float: left;*/
}
.logo-menu{
    max-height: 50px;
    max-width: 41px;
}
header li.active a {
    border-bottom: 3px solid #eee;
    color: #aaa;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    transition: all 0.2s ease;
}

header .active-marker {
    background: #0074d9;
    bottom: 0;
    display: none;
    height: 5px;
    position: absolute;
    left: 0;
    transition: all 0.2s cubic-bezier(0.25, 0.25, 0.25, 1.25);
    width: auto;
}

header {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    /*background-color: transparent;*/
    width: 80%;
    float: left;
    position: fixed;
    z-index: 10;
    /*background: rgba( 74, 144, 226, 0.50 );*/
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    /*backdrop-filter: blur( 10px );*/
    /*-webkit-backdrop-filter: blur( 10px );*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}
header::before {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform-origin: 0;
    background: #0f3754;
    position: absolute;
    width: 100%;
    content: '';
    top: 0;
    right: 0;
    height: 0;
}
header .desk-menu {
    position: relative;
    width: 100%;
    /*float: left;*/
}
header .desk-menu .logo {
    position: static;
    float: left;
    margin-left: 3%;
}
header .desk-menu .logo-adn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: 0 0 0;
    position: relative;
    display: table;
    z-index: 1;
}
header .desk-menu .logo-adn a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: url('../img/logo_plus.png');
    /*background-position: 0;*/
    /*color: rgba(0, 0, 0, 0);*/
    background-repeat: no-repeat;
    background-size: contain;
    /*margin-left: 15px;*/
    display: block;
    width: 70px;
    height: 70px;
    /*font-size: 0;*/
}
header .desk-menu .menu-container {
    float: left;
}
header .desk-menu .menu-container .menu-head, header .desk-menu .menu-container .menu-foot {
    width: 100%;
    float: left;
    display: none;
}
header .desk-menu .menu-container .menu-head {
    background: #3b60bd;
    padding: 16px 10px;
}
header .desk-menu .menu-container .menu-head .e1 {
    padding: 3px 0;
    float: left;
}
header .desk-menu .menu-container .menu-head .e1 img {
    width: 29px;
    float: left;
    height: 29px;
}
header .desk-menu .menu-container .menu-head .client {
    color: #fff;
    float: right;
}
header .desk-menu .menu-container .menu-head .client span {
    text-transform: uppercase;
    padding: 5px 42px 5px 0;
    position: relative;
    /* line-height: 100%; */
    /* font-size: 9px; */
    display: block;
}
header .desk-menu .menu-container .menu-head .client i {
    position: absolute;
    font-size: 30px;
    right: 0;
    top: 0;
}
header .desk-menu .menu-container .menu-foot {
    position: absolute;
    bottom: 0;
    padding: 15px 0;
}
header .desk-menu .menu-container .menu-foot .social {
    display: table;
    margin: 0 auto;
}

header .desk-menu .menu-container .menu-foot .social a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: relative;
    margin: 0 5px 0 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
    border-radius: 50%;
    background: #797c82;
    width: 29px;
    height: 29px;
}

header .desk-menu .menu-container .menu-foot .social a:last-child {
    margin: 0;
}
header .desk-menu .menu-container .menu-foot .social a:hover {
    background: #a4a7ac;
}
header .desk-menu .menu-container .menu-foot hr {
    margin: 15px auto 20px;
    display: table;
    width: calc(100% - 20px);
}
header .desk-menu .menu-container .menu-foot address {
    position: relative;
    text-align: left;
    padding: 0 15px;
    margin: 0;
}
header .desk-menu .menu-container .menu-foot address i {
    position: absolute;
    left: 0;
    top: 0;
}
header .desk-menu .menu-container .menu-foot address span {
    padding: 0 0 0 20px;
    position: relative;
    margin-bottom: 5px;
    font-size: 12px;
    display: block;
}
header .desk-menu .menu-container .menu {
    float: left;
    padding: 0;
    margin: 0 0 0 0;
    list-style: none;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
header .desk-menu .menu-container .menu li.back {
    display: none;
}
@media (min-width: 992px) and (max-width: 1199px) {
    header .desk-menu .menu-container .menu > li {
        margin: 0 0 0 0 !important;
    }
    header .desk-menu .menu-container .menu > li a {
        font-size: 0.9rem !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {
        right: 0 !important;
    }
}
header .desk-menu .menu-container .menu > li {
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    transition: all 0.33s ease;
    margin: 0 0 0 10px;
    float: left;
    cursor: pointer;
    position: relative;
    overflow: inherit;
}

header .desk-menu .menu-container .menu > li a {
    position: relative;
    text-transform: uppercase;
    font-size: 0.9rem !important;
    padding: 19px 8px;
    font-weight: bold;
    display: block;
    color: #ffffff;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a {
    padding: 19px 20px 19px 8px;
    position: relative;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    position: absolute;
    content: '';
    height: 1px;
    width: 7px;
    top: 26px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 10px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 6px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
    /*box-shadow: 1px 2px 4px rgba(46, 61, 73, 0.2);*/
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-overflow-scrolling: touch;
    min-width: 130px;
    position: absolute;
    list-style: none;
    /*background: #fff;*/
    padding: 0;
    float: left;
    /*display: table;*/
    left: 0;
    width: 100%;
    /*float: left;*/
    display: none;

    background: #2fddff75;
    /*box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);*/

    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li {
    width: 100%;
    -webkit-transition: all 0.33s ease;
    -moz-transition: all 0.33s ease;
    -ms-transition: all 0.33s ease;
    -o-transition: all 0.33s ease;
    transition: all 0.33s ease;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
    color: #003557;
    padding: 12px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li .sub-menu {
    display: none;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    position: absolute;
    content: '';
    height: 1px;
    width: 7px;
    top: 24px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
    transform: rotate(45deg);
    right: 6px;
    top: 19px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
    transform: rotate(-45deg);
    right: 6px;
    top: 23px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover > a {
    display: block;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children:hover .sub-menu {
    display: block;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a {
    color: #4ab6d4;
    background-color: #eeeff1;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::before {
    -webkit-transform: rotate(142deg);
    -moz-transform: rotate(142deg);
    -ms-transform: rotate(142deg);
    -o-transform: rotate(142deg);
    transform: rotate(142deg);
    top: 23px;
    background: #3b60bd;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li:hover > a::after {
    -webkit-transform: rotate(42deg);
    -moz-transform: rotate(42deg);
    -ms-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
    right: 11px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
    left: 100%;
    margin-top: -43px;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children a {
    text-align: left;
}
header .desk-menu .menu-container .menu > li.menu-item-has-children a:hover {
    margin-top: 0;
}
header .desk-menu .menu-container .menu > li.line {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    bottom: 11px;
    left: 0;
    height: 0;
    pointer-events: none;
    /*border: 1px solid #003557;*/
    background: #3b60bd;
    -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
    /*-webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);*/
    transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
    opacity: 0;
    display: block;
}

header .desk-menu .menu-container .menu > li:hover > a {
    color: #828282;
}

header .desk-menu .menu-container .menu > li:hover > a::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
    width: 10px;
    right: 12px;
}
header .desk-menu .menu-container .menu > li:hover > a::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px;
    right: 7px;
}
header .desk-menu .menu-container .menu > li:hover.menu-item-has-children .sub-menu {
    display: block;
}
header .hamburger-menu {
    display: none;
}
header.small::before {
    box-shadow: 0 5px 25px 0 rgba(46, 61, 73, .2);
    height: 100%;
}
header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::before, header.small .desk-menu .menu-container .menu > li.menu-item-has-children > a::after {
    background-color: #ffffff;
}
header.small .desk-menu .logo-adn {
    margin-top: 7px;
}
header.small .desk-menu .logo-adn a {
    background-image: url(../img/logo_plus.png);
    height: 44px;
    width: 83px;
}
header.small .desk-menu .box-menu ul li a {
    color: #ffffff;
}
@media (max-width: 991px) {
    header {
        height: 60px;
    }
    header .hamburger-menu {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
        position: absolute;
        top: 35px;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        cursor: pointer;
        right: 15px;
        z-index: 11;
    }
    header .hamburger-menu span {
        text-transform: uppercase;
        left: calc(-100% + -5px);
        padding: 8px 9px 8px 0;
        top: calc(50% - 18px);
        position: absolute;
        font-size: 13px;
        color: #fff;
    }
    header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
        width: 35px;
        height: 3px;
    }
    header .hamburger-menu .bar {
        position: relative;
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
        transform: translateY(25px);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        background: #ffffff;
        top: -7px;
    }
    header .hamburger-menu .bar::before, header .hamburger-menu .bar::after {
        position: absolute;
        background: #ffffff;
        content: '';
        left: 0;
        border-radius: 5px;
    }
    header .hamburger-menu .bar::before {
        bottom: 10px;
        -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .hamburger-menu .bar::after {
        top: 10px;
        -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .hamburger-menu .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
    header .hamburger-menu .bar.animate::after {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .hamburger-menu .bar.animate::before {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    header .desk-menu .menu-container {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: #fff;
        position: fixed;
        height: 100%;
        width: 250px;
        right: -250px;
        top: 0;
    }
    header .desk-menu .menu-container .menu-header-container {
        position: relative;
        float: left;
    }
    header .desk-menu .menu-container .menu-header-container ul {
        padding: 10px !important;
    }
    header .desk-menu .menu-container .menu {
        margin: 0;
    }
    header .desk-menu .menu-container .menu li.back {
        position: relative;
        display: block;
    }
    header .desk-menu .menu-container .menu li.back a {
        padding: 12px 12px 12px 35px !important;
    }
    header .desk-menu .menu-container .menu li.back a::before, header .desk-menu .menu-container .menu li.back a::after {
        background-color: #ffffff;
        position: absolute;
        content: '';
        height: 2px;
        width: 7px;
        top: 23px;
    }
    header .desk-menu .menu-container .menu li.back a::before {
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
        top: 20px !important;
        right: inherit !important;
        left: 15px !important;
    }
    header .desk-menu .menu-container .menu li.back a::after {
        -webkit-transform: rotate(45deg) !important;
        -moz-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        -o-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        top: 24px !important;
        left: 15px !important;
    }
    header .desk-menu .menu-container .menu li.line {
        display: none !important;
    }
    header .desk-menu .menu-container .menu > li {
        width: 100%;
        float: left;
        margin: 0;
        text-align: left;
    }
    header .desk-menu .menu-container .menu > li a {
        padding: 12px;
        color: #4e4e4e !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children {
        position: initial;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a {
        padding: 12px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        background: #4e4e4e;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
        right: 6px !important;
        top: 22px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        top: 26px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
        box-shadow: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block !important;
        background: #fff;
        z-index: 1;
        top: 0;
        left: 100%;
        height: 100%;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
        margin-top: 0;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
        left: 0;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        background-color: #ffffff;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
        -webkit-transform: rotate(45deg) !important;
        -moz-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        -o-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        right: 6px !important;
        top: 22px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
        right: 6px !important;
        top: 26px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li:hover a:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 6px;
        top: 22px;
    }
    header .desk-menu .menu-container .menu > li:hover a::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 6px;
        top: 26px;
    }
    header .desk-menu .menu-container .menu-head {
        display: block;
    }
    header .desk-menu .menu-container .menu-foot {
        display: block;
    }
    header.small .hamburger-menu {
        top: 30px;
    }
    header.small .hamburger-menu span {
        color: #ffffff;
    }
    header.small .hamburger-menu .bar {
        background: #ffffff;
    }
    header.small .hamburger-menu .bar::before, header.small .hamburger-menu .bar::after {
        background: #ffffff;
    }
    header.small .hamburger-menu .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
}
@media (max-width: 767px) {
    header .desk-menu .menu-container .menu li a {
        padding: 8px 12px;
    }
    header .desk-menu .menu-container .menu li.back a {
        padding: 8px 12px 8px 35px !important;
    }
    header .desk-menu .menu-container .menu li.back a::before {
        top: 17px !important;
    }
    header .desk-menu .menu-container .menu li.back a::after {
        top: 21px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a {
        padding: 8px 12px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
        top: 18px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        top: 22px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
        padding: 8px 12px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
        top: 18px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        top: 22px;
    }
}
@media (max-width: 481px) {
    header .desk-menu .logo-adn a {
        width: 100px;
        height: 57px;
    }
    header .hamburger-menu {
        top: 30px;
        right: 0;
    }
    header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
        width: 30px;
        height: 3px;
    }
    header .hamburger-menu .bar::before {
        bottom: 9px;
    }
    header .hamburger-menu .bar::after {
        top: 9px;
    }
    header.small .desk-menu .logo-adn a {
        width: 100px;
        height: 40px;
    }
}
@media (max-height: 550px) {
    header .desk-menu .menu-container .menu-foot hr, header .desk-menu .menu-container .menu-foot address {
        display: none;
    }
}


header .desk-menu .menu-container .menu li.back{display:none;}
header,header::before{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;width:100%;}
header{float:left;position:fixed;z-index:20;}
header::before{transform-origin:0;background:#FFFFFF;position:absolute;content:'';top:0;right:0;height:0;}
header .desk-menu,section{position:relative;width:100%;}
header .desk-menu .logo{position:static;float:left;}
header .desk-menu .logo-adn{margin:0;position:relative;display:table;z-index:1;margin-top: 20%;}
header .desk-menu .logo-adn a{background-image:url(../img/logo_plus.png);background-position:0;color:transparent;background-repeat:no-repeat;background-size:contain;margin-left:15px;display:block;width:70px;height:70px;font-size:0;}
header .desk-menu .box-menu{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header .desk-menu .menu-container{float:left;}
header .desk-menu .menu-container .menu-head{width:100%;float:left;display:none;}
header .desk-menu .menu-container .menu-head{background:#3b60bd;padding:16px 10px;}
header .desk-menu .menu-container .menu-head .e1{padding:3px 0;float:left;}
header .desk-menu .menu-container .menu-head .e1 img{width:29px;float:left;height:29px;}
header .desk-menu .menu-container .menu-head .client{color:#fff;float:right;}
header .desk-menu .menu-container .menu-head .client span{text-transform:uppercase;padding:5px 42px 5px 0;position:relative;display:block;}
header .desk-menu .menu-container .menu-head .client i{position:absolute;font-size:30px;right:0;top:0;}
header .desk-menu .menu-container .menu{float:left;list-style:none;position:relative;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}

header .desk-menu .menu-container .menu>li,header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu li{-webkit-transition:all .33s ease;-moz-transition:all .33s ease;-ms-transition:all .33s ease;-o-transition:all .33s ease;transition:all .33s ease;}
header .desk-menu .menu-container .menu>li{margin:0 6px 0 0;float:left;cursor:pointer;position:relative;overflow:inherit;}
header .desk-menu .menu-container .menu>li a{position:relative;text-transform:uppercase;font-size:0.9rem;padding:19px 8px;font-weight:700;display:block;color:#FFFFFF;}
.small .desk-menu .menu-header-container .menu>li a{color:#2c2044;}
.small .desk-menu .menu-header-container .menu>li a:hover{color:#10CBB4FF;}
header .desk-menu .menu-container .menu>li.menu-item-has-children>a{padding:19px 20px 19px 8px;position:relative;}
header .desk-menu .menu-container .menu>li.menu-item-has-children>a::after,header .desk-menu .menu-container .menu>li.menu-item-has-children>a::before{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;background-color:#fff;position:absolute;content:'';height:1px;width:7px;top:26px;}
header .desk-menu .menu-container .menu>li.menu-item-has-children>a::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);right:10px;}
header .desk-menu .menu-container .menu>li.menu-item-has-children>a::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);right:6px;}
header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu{-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;-webkit-overflow-scrolling:touch;min-width:130px;position:absolute;list-style:none;padding:0;float:left;left:0;width:100%;display:none;background:#10cbb4;backdrop-filter:blur(4px);-webkit-backdrop-filter:blur(4px);border-radius:0;border:1px solid rgba(255,255,255,.18);}
header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu li{width:100%;}
header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu li>a{color:#2c2044; font-size: inherit}
header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu li:hover>a{color:#10cbb4;background-color:#eeeff1;}
header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu li:hover>a::before{-webkit-transform:rotate(142deg);-moz-transform:rotate(142deg);-ms-transform:rotate(142deg);-o-transform:rotate(142deg);transform:rotate(142deg);top:23px;background:#3b60bd;}
header .desk-menu .menu-container .menu>li.menu-item-has-children .sub-menu li:hover>a::after{-webkit-transform:rotate(42deg);-moz-transform:rotate(42deg);-ms-transform:rotate(42deg);-o-transform:rotate(42deg);transform:rotate(42deg);right:11px;}
header .desk-menu .menu-container .menu>li.menu-item-has-children a{text-align:left;}
header .desk-menu .menu-container .menu>li.menu-item-has-children a:hover{margin-top:0;}
header .desk-menu .menu-container .menu>li.line{-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;position:absolute;bottom:11px;left:0;height:0;pointer-events:none;background:#3b60bd;-webkit-transition-timing-function:cubic-bezier(1,.01,0,1);transition-timing-function:cubic-bezier(1,.01,0,1.22);opacity:0;display:block;}
header .desk-menu .menu-container .menu>li:hover>a{color:#10CBB4;}
header .desk-menu .menu-container .menu>li:hover>a::before{-webkit-transform:translateX(5px) rotate(-45deg);-moz-transform:translateX(5px) rotate(-45deg);-ms-transform:translateX(5px) rotate(-45deg);-o-transform:translateX(5px) rotate(-45deg);transform:translateX(5px) rotate(-45deg);width:10px;right:12px;}
header .desk-menu .menu-container .menu>li:hover>a::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);width:10px;right:7px;}
header .desk-menu .menu-container .menu>li:hover.menu-item-has-children .sub-menu{display:block;}
@media (max-width: 991px) {

    header .hamburger-menu {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
        position: absolute;
        top: 28px;
        bottom: 0;
        margin: auto;
        width: 40px;
        height: 40px;
        cursor: pointer;
        right: 0px;
        z-index: 11;
    }
    header .hamburger-menu span {
        text-transform: uppercase;
        left: calc(-100% + -5px);
        padding: 8px 9px 8px 0;
        top: calc(50% - 18px);
        position: absolute;
        font-size: 13px;
        color: #fff;
    }
    header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
        width: 35px;
        height: 3px;
    }
    header .hamburger-menu .bar {
        position: relative;
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
        transform: translateY(25px);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        background: #ffffff;
        top: -7px;
    }
    header .hamburger-menu .bar::before, header .hamburger-menu .bar::after {
        position: absolute;
        background: #ffffff;
        content: '';
        left: 0;
        border-radius: 5px;
    }
    header .hamburger-menu .bar::before {
        bottom: 10px;
        -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .hamburger-menu .bar::after {
        top: 10px;
        -webkit-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .hamburger-menu .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
    header .hamburger-menu .bar.animate::after {
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .hamburger-menu .bar.animate::before {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    header .desk-menu .box-menu ul li a {
        color: #fff !important;
        border-bottom: 1px solid #eaeaea;
    }
    header .desk-menu .menu-container {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: #fff;
        position: fixed;
        height: 100%;
        width: 250px;
        top: 80px;
    }
    header .desk-menu .menu-container .menu-header-container {
        position: relative;
        float: left;
    }
    header .desk-menu .menu-container .menu-header-container ul {
        padding: 10px !important;
    }
    header .desk-menu .menu-container .menu {
        margin: 0;
    }
    header .desk-menu .menu-container .menu li.back {
        position: relative;
        display: block;
    }
    header .desk-menu .menu-container .menu li.back a {
        padding: 12px 12px 12px 35px !important;
    }
    header .desk-menu .menu-container .menu li.back a::before, header .desk-menu .menu-container .menu li.back a::after {
        background-color: #ffffff;
        position: absolute;
        content: '';
        height: 2px;
        width: 7px;
        top: 23px;
    }
    header .desk-menu .menu-container .menu li.back a::before {
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
        top: 20px !important;
        right: inherit !important;
        left: 15px !important;
    }
    header .desk-menu .menu-container .menu li.back a::after {
        -webkit-transform: rotate(45deg) !important;
        -moz-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        -o-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        top: 24px !important;
        left: 15px !important;
    }
    header .desk-menu .menu-container .menu li.line {
        display: none !important;
    }
    header .desk-menu .menu-container .menu > li {
        width: 100%;
        float: left;
        margin: 0;
        text-align: left;
    }
    header .desk-menu .menu-container .menu > li a {
        padding: 12px;
        color: #4e4e4e !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children {
        position: initial;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a {
        padding: 12px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        background: #4e4e4e;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
        right: 6px !important;
        top: 22px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        top: 26px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu {
        box-shadow: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        display: block !important;
        background: #fff;
        z-index: 1;
        top: 0;
        left: 100%;
        height: 100%;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu .sub-menu {
        margin-top: 0;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu.open-sub {
        left: 0;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before, header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        background-color: #ffffff;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
        -webkit-transform: rotate(45deg) !important;
        -moz-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        -o-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        right: 6px !important;
        top: 22px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        -webkit-transform: rotate(-45deg) !important;
        -moz-transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -o-transform: rotate(-45deg) !important;
        transform: rotate(-45deg) !important;
        right: 6px !important;
        top: 26px !important;
        width: 7px !important;
    }
    header .desk-menu .menu-container .menu > li:hover a:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        right: 6px;
        top: 22px;
    }
    header .desk-menu .menu-container .menu > li:hover a::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 6px;
        top: 26px;
    }
    header .desk-menu .menu-container .menu-head {
        display: block;
    }
    header .desk-menu .menu-container .menu-foot {
        display: block;
    }
    header.small .hamburger-menu {
        top: 30px;
    }
    header.small .hamburger-menu span {
        color: #ffffff;
    }
    header.small .hamburger-menu .bar {
        background: #514f66;
    }
    header.small .hamburger-menu .bar::before, header.small .hamburger-menu .bar::after {
        background: #514f66;
    }
    header.small .hamburger-menu .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
}
@media (max-width: 767px) {
    header .desk-menu .menu-container .menu li a {
        padding: 8px 12px;
    }
    header .desk-menu .menu-container .menu li.back a {
        padding: 8px 12px 8px 35px !important;
    }
    header .desk-menu .menu-container .menu li.back a::before {
        top: 17px !important;
    }
    header .desk-menu .menu-container .menu li.back a::after {
        top: 21px !important;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a {
        padding: 8px 12px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::before {
        top: 18px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children a::after {
        top: 22px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li > a {
        padding: 8px 12px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::before {
        top: 18px;
    }
    header .desk-menu .menu-container .menu > li.menu-item-has-children .sub-menu li.menu-item-has-children > a::after {
        top: 22px;
    }
}
@media (max-height: 550px) {
    header .desk-menu .menu-container .menu-foot hr, header .desk-menu .menu-container .menu-foot address {
        display: none;
    }
}
@media (max-width: 481px) {
    header .desk-menu .logo-adn a {
        width: 100px;
        height: 57px;
    }

    header .hamburger-menu .bar, header .hamburger-menu .bar::after, header .hamburger-menu .bar::before {
        width: 30px;
        height: 3px;
    }
    header .hamburger-menu .bar::before {
        bottom: 9px;
    }
    header .hamburger-menu .bar::after {
        top: 9px;
    }
    header.small .desk-menu .logo-adn a {
        /*width: 100px;*/
        /*height: 30px;*/
    }
}
