.header-soliaguinaldo{

    position:relative;
    /*background: linear-gradient(-45deg, #1a2034 0%, #23233c 100%);*/
    color:white;
    background-image: url(../img/SoliAguinaldo-fondo.jpg);
    /*background-position: center center;*/
    /*height: 100vh;*/
}
.h1{
    color:#003dc9;
}
.h2{
    color: #f6d90b;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
.h3{
    color: #fff;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}
h4{
    font-size: 20px !important;
}
.fondo_banner1{
    background-image: url(../img/SoliAguinaldo-fondo.jpg);
    background-color: #003dc9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-repeat:no-repeat;
    background-size:cover;
    /*height:100vh;*/
    background-position:center center;
}
.fondo_banner2{
    background-image: url(../img/SoliAguinaldo-fondo.jpg);
    background-color: #3b60bd ;
}
.banner2_solisocios{
    width: 100%;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/info2solisocios.png");
}
.logo_solisocios{
    width: 25%;
}
.ganar_solisocios{
    width: 65%;
}
@media (max-width: 991px){
    .ganar_solisocios{
        width: 100%;
    }
    .logo_solisocios{
        width: 80%;
    }
    .banner2_solisocios{
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../img/info2solisocios-mobile.png");
    }
}
.container {
    transform: translateZ(0px);
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    height: calc(70vh - 90px);
}
.hover-cube:hover {
    transform: rotate3d(-1.5, 3.5, -0.4, 26deg);
}
.static-cube {
    transform: rotate3d(-1.5, 3.5, -0.5, 45deg);
}
.no-ribbon > .cube-front::after, .no-ribbon > .cube-back::after {
    opacity: 0 !important;
}
.off {
    cursor: not-allowed;
    pointer-events: none;
}
.win::after {
    display: none;
    content: "☞";
    color: #e74c3c;
    font-size: 42px;
    position: absolute;
    top: -85px;
    left: 14px;
    transform: rotateY(0deg) rotateZ(90deg) translateX(0px);
    animation: arrow 1s ease-in-out infinite;
}
.pseudo-block::after {
    display: block !important;
}
@keyframes arrow {
    50% {
        transform: rotateY(0deg) rotateZ(90deg) translateX(12px);
    }
}
.gift {
    background: transparent !important;
    position: absolute;
    font-size: 42px;
    left: 0px;
    top: 12px;
    transform: rotate3d(0, -1, 0, 45deg) translateZ(0px) translateY(0px);
    animation: up 1s ease-in-out infinite;
}
@keyframes up {
    50% {
        transform: rotate3d(0, -1, 0, 45deg) translateZ(0px) translateY(12px);
    }
}
.cube {
    justify-self: center;
    align-self: center;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center;
    width: 80px;
    height: 80px;
    transition: transform 250ms ease-out;
}
.cube-contain {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0) scale3d(0, 0, 0);
    transform-origin: center;
    width: 60px;
    height: 60px;
}
.cube-contain:hover > .cube-front::after {
    transform: translateX(-100%) translateZ(-30px) rotate(25deg);
}
.cube-contain:hover > .cube-back::after {
    transform: translateX(100%) translateZ(30px) rotate(-25deg);
}
.cube-top, .cube-front, .cube-back, .cube-left, .cube-right, .cube-bottom {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
}
.cube-top::after, .cube-bottom::after {
    filter: brightness(0.8);
    background-color: #e74c3c;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    width: 16px;
    height: 100%;
    z-index: 1;
}
.cube-top::before, .cube-bottom::before {
    background-color: #e74c3c;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 100%;
    z-index: 1;
}
.cube-front, .cube-back {
    transform-style: preserve-3d;
}
.cube-front::after, .cube-back::after {
    background-color: transparent;
    border: 4px solid #e74c3c;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: -8.333333px;
    left: 50%;
    width: 28.666667px;
    height: 13.3333333333px;
    transition: transform 250ms 250ms ease-in-out;
}
.cube-front::before, .cube-back::before {
    background-color: #e74c3c;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 100%;
}
.cube-top {
    transform: rotateX(90deg) translateZ(30px);
}
.cube-front {
    transform: rotateX(0deg) translateZ(30px);
}
.cube-front::after {
    filter: brightness(0.9);
    left: 30px;
    transform-origin: bottom right;
    transform: translateX(-100%) translateZ(-30px) rotate(15deg);
}
.cube-back {
    transform: rotateX(0deg) translateZ(-30px);
}
.cube-back::after {
    filter: brightness(0.85);
    left: 0;
    transform-origin: bottom left;
    transform: translateX(100%) translateZ(30px) rotate(-15deg);
}
.cube-left::before, .cube-right::before {
    background-color: #e74c3c;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 100%;
    z-index: 1;
}
.cube-left {
    transform: rotateY(90deg) translateZ(-30px);
    filter: brightness(0.8);
}
.cube-right {
    transform: rotateY(90deg) translateZ(30px);
    filter: brightness(0.95);
}
.cube-bottom {
    transform: rotateX(-90deg) translateZ(30px);
    filter: brightness(0.65);
}
.gradiant-0 > .cube-contain > div {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #ac0;
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #ac0;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), #ac0;
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}
.container-modal {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}
.container-modal .modal {
    background-color: #ffffe0;
    text-align: center;
    padding: 64px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    transform: translateY(100%);
}
.container-modal .modal-close {
    color: #ccc;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}
.refresh {
    background-color: #e74c3c;
    border-radius: 20px;
    color: #fff;
    padding: 8px 24px;
}
.refresh:hover {
    background-color: #ff1900;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40vh; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .h2{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 33px;
    }
    .h3{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 19px;
    }
}
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
            transform
            600ms
            cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,hsl(191deg 78% 23%) 0,hsl(191deg 58% 49%) 8%,hsl(191deg 88% 36%) 92%,hsl(191deg 44% 10%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(191deg 100% 50%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}
.snow {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 20;
}
.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}
.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
}
.lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}
.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}
.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.lightrope li:last-child:after {
    content: none;
}
.lightrope li:first-child {
    margin-left: -40px;
}
@keyframes flash-1 {
    0%, 100% {
        background: rgba(0, 247, 165, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
    }
}
@keyframes flash-2 {
    0%, 100% {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
    }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
    }
}
@keyframes flash-3 {
    0%, 100% {
        background: rgba(247, 0, 148, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    }
    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
    }
}

