.header-solisocios{

    position:relative;
    /*background: linear-gradient(-45deg, #1a2034 0%, #23233c 100%);*/
    color:white;
    background-image: url(../img/solisocios-bcp-fondo.jpg);
    /*background-position: center center;*/
    /*height: 100vh;*/
}

.header-soliamigo{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/Radiografia-Soli-web-fondo.jpg);
}
.header-soliaguinaldo{

    position:relative;
    /*background: linear-gradient(-45deg, #1a2034 0%, #23233c 100%);*/
    color:white;
    background-image: url(../img/SoliAguinaldo-fondo.jpg);
    /*background-position: center center;*/
    /*height: 100vh;*/
}
.h1{
    color:#66056c;
}
.h1_amigos{
    color:#ffffff;
}
h4{
    font-size: 20px !important;
}
.fondo_banner1{
    background-color: #66056c;
}
.fondo_banner1_amigo{
    background-image: linear-gradient(#5a008a,#7399f7);
}
.fondo_banner2{
    background-color: #3b60bd ;
}
.banner2_solisocios{
    width: 100%;
    height: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/info2solisocios.png");
}
.banner2_amigo{
    margin-top: 40px;
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/referido-reglas.png");
}

.logo_solisocios{
    width: 25%;
}
.logo_amigos{
    width: 35%;
}
.logo{
    width: 25%;
}
.ganar_solisocios{
    width: 65%;
}
.mt-20vh {
    margin-top: 10vh;
}
.centrar_elemento{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
@media (min-width: 992px){
    .centrar_elemento{
        position: sticky;
    }
    .top-desktop{
        margin-top: 90px;
    }
}
@media (max-width: 991px){
    .centrar_banner_movil{
        position: absolute;
        top: 25vh;
        left: 15vh;
        margin-top: -100px;
        margin-left: -100px;
    }
    .centrar_elemento{
        position: inherit;
    }
    .mt-20vh {
        margin-top: 20vh;
    }
    .banner2_amigo {
        height: 90vh;
        margin-top: 20px;
    }
    .logo_amigos {
        width: 100%;
    }
    .logo{
        width: 70%;
    }
    .header-soliamigo{
        height: 100vh;
        background-image: url(../img/Radiografia-Soli-web-fondo-mobile1.png);
    }
    .ganar_solisocios{
        width: 100%;
    }
    .logo_solisocios{
        width: 80%;
    }
    .banner2_solisocios{
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("../img/info2solisocios-mobile.png");
    }
}

@media (max-width: 768px){
    .mt-20vh {
        margin-top: 10vh;
    }
}

/*boton de invitacion*/:root {
    --background: #d74e68;
    --left-side: #ff9568;
    --smile: #ffe073;
    --star: #d74e68;
    --arrow: cfcfcf;
}
.container_friend {
    background-color: #fff;
    display: flex;
    /*width: 100%;*/
    height: 120px;
    position: relative;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    margin-left: 10%;
    margin-right: 10%;
}
.container_friend:hover {
    transform: scale(1.04);
}
.left-side {
    background-color: var(--left-side);
    width: 130px;
    height: 120px;
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
}
.right-side {
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    line-height: normal;
    transition: 0.3s;
    border-radius: 6px;
}

.right-side:hover {
    background-color: #f9f7f9;
}
.arrow {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}
.refer {
    font-size: 23px;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 20px;
}
.smile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--smile);
    position: absolute;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, .2);
}
.eyes {
    width: 6px;
    height: 10px;
    position: absolute;
    box-shadow: -15px 0 0 0 #000, 15px 0 0 0 #000;
    border-radius: 50%;
    left: 27px;
    top: 20px;
}
.mouth {
    width: 36px;
    height: 18px;
    background-color: #000;
    position: absolute;
    border-radius: 0 0 60px 60px;
    top: 35px;
    left: 12px;
}
.container_friend:hover .smile {
    animation: slide-cross 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.container_friend:hover .eyes, .container_friend:hover .mouth {
    animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.container_friend:hover .talk {
    animation: scale-up 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s both;
}
.container_friend:hover .star {
    animation: turning 0.5s ease-in-out 0.5s both;
}
.container_friend:hover .friend {
    animation: slide-in 0.7s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.container_friend:hover .shock {
    animation: wow 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}
@keyframes wow {
    0% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.2);
    }
}
@keyframes slide-in {
    100% {
        right: -45px;
        top: 35px;
    }
}
@keyframes turning {
    0% {
        transform: rotate(-160deg) scale(0);
        opacity: 0;
    }
    85% {
        transform: rotate(0) scale(1.5);
        opacity: 1;
    }
    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}
@keyframes scale-up {
    0% {
        transform: scale(0.6);
        transform-origin: 100% 100%;
    }
    100% {
        transform: scale(1);
        transform-origin: 100% 100%;
        opacity: 1;
    }
}
@keyframes slide-cross {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-38px) translateX(-41px);
    }
}
@keyframes slide-bottom {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(1px) translateX(5px);
    }
}
.talk {
    width: 56px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 10;
    bottom: 34px;
    left: 33px;
    opacity: 0;
}
.triangle {
    position: absolute;
    background-color: #fff;
    top: -9px;
    left: 8px;
}
.triangle:before, .triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}
.triangle, .triangle:before, .triangle:after {
    width: 12px;
    height: 12px;
    border-top-right-radius: 35%;
}
.triangle {
    transform: rotate(-85deg) skewX(-30deg) scale(1, 0.866);
}
.triangle:before {
    transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
}
.star {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 10px;
}
.friend {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--smile);
    position: relative;
    right: -85px;
    top: 85px;
    z-index: 15;
    box-shadow: 2px 5px 10px -2px rgba(0, 0, 0, .2);
}
.friend:before {
    content: '';
    width: 6px;
    height: 10px;
    position: absolute;
    box-shadow: -15px 0 0 0 #000, 15px 0 0 0 #000;
    border-radius: 50%;
    left: 24px;
    top: 18px;
}
.shock {
    width: 12px;
    height: 12px;
    background-color: #000;
    position: absolute;
    border-radius: 50%;
    top: 34px;
    right: 28px;
    will-change: transform;
}
@media only screen and (max-width: 480px) {
    .container_friend {
        transform: scale(0.7);
    }
    .container_friend:hover {
        transform: scale(0.74);
    }
    .refer {
        font-size: 18px;
    }
}

/*fin boton de invitacion*/

/*movement element*/
.hover {
    animation: hover 1.7s infinite ease-in-out;
}
@keyframes hover {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*end movement element*/
.mt-30{
    margin-top:30px;
}
